h2 {
  font-size: 50px;
  font-weight: 800;
  margin: 20px;
}

.grosso {
  display: flex;
  background-color: #fef7e2;
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
  padding: 20px;
  width: 1200px;
}

.grosso div:last-of-type > h3 {
  font-weight: 800;
  font-size: 25px;
  margin-block: 10px;
}
.grosso div:last-of-type > p {
  font-size: 20px;
}
